@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

h1:not(.not-h1) {
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1;
  color: #1f2937;
}

h2:not(.not-h2) {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
  color: #1f2937;
}
h3:not(.not-h3) {
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.2;
  color: #1f2937;
}
h4:not(.not-h4) {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.2;
  color: #1f2937;
}
h5:not(.not-h5) {
  margin-bottom: 1rem;
  font-size: 1.15rem;
  font-weight: 600;
  line-height: 1.2;
  color: #1f2937;
}
h6:not(.not-h6) {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
  color: #1f2937;
}
p:not(.not-p):not(blockquote > p),
ul:not(.not-ul),
ol:not(.not-ol) {
  margin-bottom: 1.5rem;
  line-height: 2rem;
  color: #212121;
}

.post ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.post ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.not-div > p {
  font-size: 0.875rem /* 14px */;
  line-height: 1.4rem !important/* 20px */;
  margin: 0 !important;
}

a:not(.not-a) {
  color: #3b82f6;
}
a:hover:not(.not-a) {
  color: #2563eb;
}
pre {
  background-color: #f1f1f1;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #ddd;
  margin: 10px 0;
  white-space: nowrap;
  overflow-x: auto;
}
code:not(.generatedcode) {
  background-color: #f1f1f1;
  color: #333;
  padding: 4px;
  font-family: "Courier New", monospace;
  font-size: 14px;
  border-radius: 4px;
  white-space: pre;
}

.post blockquote {
  background-color: #fef3c7;
  border-left: 0.5rem solid #fdba74;
  padding: 0.5rem;
  border-radius: 0.5rem;
  line-height: 2rem;
  color: #212121;
  margin-bottom: 1.5rem;
}
.post table {
  border: 1px solid #e2e8f0;
  margin-bottom: 1.5rem;
  border-radius: 12px;
  min-width: 100%;
}

.post table th {
  background-color: #f3f4f6;
  font-weight: 600;
  padding: 15px 0;
  text-align: center;
  padding: 10px 0;
}

.post table tr {
  border-bottom: 1px solid #e2e8f0;
}

.post table td {
  /* white-space: nowrap; */
  padding: 10px 5px;
}

.post img {
  border-radius: 15px;
  margin-bottom: 1.5rem;
}
.wp-block-embed,
iframe {
  max-width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
  h1:not(.not-h1) {
    font-size: 2.15rem;
  }
  h2:not(.not-h2) {
    font-size: 1.5rem;
  }
  h3:not(.not-h3) {
    font-size: 1.3rem;
  }
}
@media (min-width: 1024px) {
  h1:not(.not-h1) {
    font-size: 2.25rem;
  }
  h2:not(.not-h2) {
    font-size: 1.6rem;
  }
  h3:not(.not-h3) {
    font-size: 1.4rem;
  }
}
